<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>聊天室</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <script th:src="@{../static/js/jquery-3.3.1.js}" type="application/javascript" charset="utf-8"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <style>

        </style>
        <script>
            // 连接对象
            var ws = null;
            // 聊天对象
            var receiveId = '请选择好友';

            // 发送消息
            function sendMsg() {
                var msg = $('#msg').val();
                var message = {'receiveId': '', 'msg': msg, 'msgType': 0};
                //发送消息
                console.log(message);
                ws.send(message);
            }

            // 建立连接
            function login() {
                //建立连接
                ws = new WebSocket("ws://localhost:8080/chatRoom");
                console.log(ws);
                refreshFriends();
            }

            // 刷新好友列表
            function refreshFriends() {
                $.ajax({
                    type: "get",
                    url: "/friend/queryOnLineFriends",
                    async: true,
                    success: function (res) {
                        console.log(res);
                        var friends = [];
                        $('.friend').each(function () {
                            console.log($(this));
                            friends.push($(this).val());
                        });
                        console.log(friends);
                        res.forEach(function (item) {
                            if ($.inArray(item, friends) === -1) {
                                $('#friend-list').append("<button type='button' class='list-group-item friend' onclick='clickFriend(this)' value='" + item + "'>" + item + "</button>")
                            }
                        });
                    }
                })
            }

            // 好友列表的点击事件
            function clickFriend(friend) {
                console.log($(friend).val());
                receiveId = $(friend).val();
                $('#chatRoom-window-title').text(receiveId);
            }

            $(function () {
                login();
                //客户端收到服务端发来的消息时，会触发onmessage事件，参数evt.data中包含server传输过来的数据
                ws.onmessage = function (evt) {
                    $("#testChat").append("<li class='list-group-item'>" + evt.data + "</li>");
                    console.log(evt.data);
                    console.log(evt);
                };
                //客户端收到服务端发送的关闭连接的请求时，触发onclose事件
                ws.onclose = function (evt) {
                    console.log("WebSocketClosed!");
                    console.log(evt);
                };

                //如果出现连接，处理，接收，发送数据失败的时候就会触发onerror事件
                ws.onerror = function (evt) {
                    console.log("WebSocketError!");
                    console.log(evt);
                };


            })
        </script>
    </head>
    <body>
        <div class="page-header">
            <h1>两个半科技有限公司
                <small>聊天室</small>
            </h1>
        </div>
        <div class="panel panel-primary col-md-4">
            <div class="panel-heading">好友列表</div>
            <button type="button" class="btn btn-default" onclick="refreshFriends()">刷新</button>
            <div class="panel-body">
                <div class="list-group" id="friend-list">

                </div>
            </div>
        </div>
        <div class="panel panel-primary col-md-4">
            <div class="panel-heading" id="chatRoom-window-title">聊天窗口</div>
            <div class="panel-body">
                <div class="list-group">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                </div>
                <div class="list-group">
                    <button type="button" class="list-group-item">Cras justo odio</button>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input type="text" class="form-control" id="msg" placeholder="聊天内容">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="sendMsg()">Go!</button>
                    </span>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </body>
</html>