<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>xChat -Responsive Multi-purpose HTML5 Template</title>
        <meta name="description" content="Cabe - Responsive Multi-purpose HTML5 Template">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- STYLESHEETS -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" th:href="@{../static/css/owl.carousel.min.css}" type="text/css" media="all">
        <link rel="stylesheet" th:href="@{../static/css/owl.theme.default.min.css}" type="text/css" media="all">

        <link rel="stylesheet" th:href="@{../static/css/themify-icons.css}">

        <link rel="stylesheet" th:href="@{../static/css/main.min.css}" type="text/css" media="all">


        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- SCRIPTS -->
        <script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
        <script th:src="@{../static/js/plugin.js}"></script>
        <script th:src="@{../static/js/main.min.js}"></script>
        <script>
            $(function () {
                $('#register').click(function () {
                    $.ajax({
                        type: "post",
                        url: "/user/register",
                        async: true,
                        data: {
                            userName: $('#username').val(),
                            email: $('#email').val(),
                            password: $('#password').val()
                        },
                        success: function (data) {
                            if (data.success) {
                                console.log(data);
                            } else {
                                alert("请求失败");
                                console.error(data);
                            }
                        },
                        error: function (msg) {
                            console.error(msg);
                        }
                    })
                })
            })
        </script>
    </head>

    <body>
        <main class="bg-grey" style="background-image: url(../static/images/bg-2.png);">
            <div class="d-flex align-items-center mx-auto login-form">
                <div class="container">
                    <div class="card">
                        <div class="card-body p-5">
                            <form>
                                <h3 class="title-text mb-5"><b>Sign up</b></h3>
                                <div class="input-group mb-3">
                                    <i class="ti-user"></i>
                                    <input class="form-control form-control-lg" id="username" type="text"
                                           placeholder="Username">
                                </div>
                                <div class="input-group mb-3">
                                    <i class="ti-email"></i>
                                    <input class="form-control form-control-lg" id="email" type="email"
                                           placeholder="Email" required="">
                                </div>
                                <div class="input-group mb-5">
                                    <i class="ti-lock"></i>
                                    <input class="form-control form-control-lg" id="password" type="password" min="6"
                                           placeholder="Password" required="">
                                </div>

                                <button class="btn btn-block btn-lg btn-primary mt-2" type="button" id="register"><b>Register</b>
                                </button>
                                <p class="mt-4 text-center">Already have account? <a class="link-primary"
                                                                                     th:href="@{/go/login}">Sign in</a>.
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

</html>
